.table thead button {
      background-color: transparent;
      border: none;
}

.table thead button:hover i {
      font-weight: bold;
      color: red;
}

.input-group-text i {
      color: purple;
}

.form-control:focus {
      border: none;
      box-shadow: none;
}
